<section class="mt-from-header" *ngIf="!error">
  <header *ngIf="user">
    <app-page-heading>{{ 'user.history.heading' | translate }}</app-page-heading>
  </header>
  <div *ngIf="!user && !error">
    <p-skeleton width="150px" height="20px"></p-skeleton>
    <p-skeleton width="200px" height="32px" styleClass="mt-1"></p-skeleton>
  </div>

  <section class="flex gap-x-16 mt-from-page-heading">
    <app-user-history-filters
      [modes]="modes"
      [selectedModes]="selectedModes"
      [sortBy]="sortBy"
      (changeSortBy)="changeSortBy($event)"
      (changeSelectedModes)="changeSelectedModes($event)"
    ></app-user-history-filters>

    <section class="flex-1">
      <div *ngIf="speedTests && speedTests.length === 0">
        <div class="flex flex-col items-center justify-center gap-y-8 my-12">
          <div class="w-[200px] h-[200px] relative mx-auto">
            <img ngSrc="assets/images/void.svg" alt="Void" [fill]="true" />
          </div>
          <p class="text-text-secondary">{{ 'user.history.noFound' | translate }}</p>
        </div>
      </div>

      <div *ngIf="!speedTests && !error">
        <p-skeleton width="100%" height="120px"></p-skeleton>
        <p-skeleton width="100%" height="120px" styleClass="mt-2"></p-skeleton>
        <p-skeleton width="100%" height="120px" styleClass="mt-2"></p-skeleton>
        <p-skeleton width="100%" height="120px" styleClass="mt-2"></p-skeleton>
        <p-skeleton width="100%" height="120px" styleClass="mt-2"></p-skeleton>
      </div>

      <div *ngIf="speedTests" class="flex flex-col gap-y-2">
        <app-user-history-item
          *ngFor="let speedTest of speedTests"
          [speedTest]="speedTest"
        ></app-user-history-item>
      </div>

      <div class="mt-2 mb-6" *ngIf="speedTests && speedTests.length > 0">
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="firstSpeedTestIndex"
          [rows]="HISTORY_SPEED_TESTS_PER_PAGE"
          [totalRecords]="totalSpeedTests"
        ></p-paginator>
      </div>
    </section>
  </section>
</section>

<app-page-error *ngIf="error">{{ error }}</app-page-error>
