<section
  class="font-semibold text-text-tertiary tracking-wider leading-relaxed relative"
  *ngIf="words && keyErrors"
>
  <div
    class="absolute bottom-0 w-full h-16 z-10 bg-gradient-to-t from-bg-dark to-transparent"
  ></div>
  <div
    class="font-mono text-2xl leading-[1.8] tracking-wide max-h-[200px] overflow-y-scroll no-scrollbar pb-32 flex flex-wrap"
  >
    <p class="whitespace-pre" *ngFor="let word of words">
      <span
        *ngFor="let letter of word.letters"
        id="letter-{{ letter.index }}"
        class="relative"
        [ngClass]="{
          'text-gray-700': activeLetterIndex > letter.index,
          'bg-white text-black': activeLetterIndex === letter.index,
          '!text-red-500': keyErrors.includes(letter),
          '!text-transparent': letter.text === ' ' && !keyErrors.includes(letter)
        }"
        >{{ letter.text === ' ' ? '␣\u200B' : letter.text }}</span
      >
    </p>
  </div>
</section>
