<section class="mt-from-header" *ngIf="!error">
  <app-back-link routerLink="/users/{{ userId }}/history">{{
    'common.goBack' | translate
  }}</app-back-link>
  <header *ngIf="user">
    <app-page-heading>{{ 'user.history.details.heading' | translate }}</app-page-heading>
  </header>

  <section class="mt-10 flex gap-x-10" *ngIf="speedTest">
    <div class="flex-[3]">
      <app-speed-test-basic-stats
        [cpm]="speedTest.cpm"
        [accuracy]="speedTest.accuracy"
        [time]="speedTest.time"
      >
      </app-speed-test-basic-stats>

      <div class="mt-6">
        <app-speed-test-chart [wpmHistory]="speedTest.wpmHistory"></app-speed-test-chart>
      </div>
    </div>

    <div class="flex w-px bg-gray-900 min-h-full"></div>

    <div class="flex-1">
      <div>
        <p class="text-text-secondary font-bold font-mono tracking-wide pb-px">
          {{ 'speedTest.mode.label' | translate }}
        </p>
        <p>{{ 'speedTest.mode.' + speedTest.mode | translate }}</p>
      </div>
    </div>
  </section>

  <app-typos-map *ngIf="speedTest" [keyHistogram]="speedTest.histogram"></app-typos-map>
</section>

<app-page-error *ngIf="error">{{ error }}</app-page-error>
