<section class="mt-from-header" *ngIf="!finished">
  <header>
    <app-page-heading>{{ 'speedTest.heading' | translate }}</app-page-heading>
  </header>

  <section class="flex gap-x-24 mt-from-page-heading">
    <app-speed-test-text
      class="flex-[2]"
      [activeLetterIndex]="activeLetterIndex"
      [words]="words"
      [keyErrors]="keyErrors"
    ></app-speed-test-text>
    <app-speed-test-stats class="flex-1" [time]="time" [stats]="stats"></app-speed-test-stats>
  </section>
</section>

<app-speed-test-results
  *ngIf="finished"
  [keyHistogram]="keyHistogram"
  [stats]="stats"
  [time]="time"
  (nextSpeedTest)="nextSpeedTest()"
  (repeatSameSpeedTest)="repeatSameSpeedTest()"
  [saved]="saved"
  [savingError]="savingError"
></app-speed-test-results>
