<section class="mt-from-header">
  <header *ngIf="user">
    <app-page-heading [steps]="[user.username.toUpperCase(), 'SETTINGS']"
      >Settings</app-page-heading
    >
  </header>
  <div *ngIf="!user && !error">
    <p-skeleton width="150px" height="20px"></p-skeleton>
    <p-skeleton width="200px" height="32px" styleClass="mt-1"></p-skeleton>
  </div>

  <section class="mt-from-page-heading flex flex-col gap-y-2" *ngIf="user">
    <app-user-settings-account [user]="user"></app-user-settings-account>
    <app-user-settings-password [user]="user"></app-user-settings-password>
    <app-user-settings-delete></app-user-settings-delete>
  </section>

  <section class="mt-from-page-heading flex flex-col gap-y-2" *ngIf="!user && !error">
    <p-skeleton styleClass="w-full" height="200px"></p-skeleton>
    <p-skeleton styleClass="w-full" height="200px"></p-skeleton>
    <p-skeleton styleClass="w-full" height="200px"></p-skeleton>
  </section>
</section>
