<form
  class="w-auth-form mx-auto mt-28 flex flex-col gap-y-8"
  (ngSubmit)="onSubmit()"
  [formGroup]="loginForm"
>
  <p-messages *ngIf="registered" severity="success" styleClass="-mb-4">
    <ng-template pTemplate>
      <p class="font-medium">{{ 'login.registerSuccess' | translate }}</p>
    </ng-template>
  </p-messages>

  <header>
    <h1 class="text-2xl font-semibold">{{ 'login.heading' | translate }}</h1>
    <p class="mt-1 text-text-secondary">
      {{ 'login.subheading' | translate }}
    </p>
  </header>

  <div class="input-box">
    <label for="username">{{ 'username.label' | translate }}</label>
    <input
      type="text"
      pInputText
      class="w-full"
      name="username"
      id="username"
      formControlName="username"
    />
    <div *ngIf="username?.invalid && username?.touched">
      <app-validation-error *ngIf="username?.errors?.['required']">
        {{ 'username.validation.required' | translate }}
      </app-validation-error>
    </div>
  </div>

  <div class="input-box">
    <div class="flex justify-between items-center">
      <label [htmlFor]="'password'">{{ 'password.label' | translate }}</label>
      <app-link routerLink="/auth/forgot-password">{{
        'login.forgotPassword' | translate
      }}</app-link>
    </div>
    <p-password
      formControlName="password"
      inputId="password"
      [toggleMask]="true"
      [feedback]="false"
      styleClass="w-full"
      inputStyleClass="w-full"
    ></p-password>
    <div *ngIf="password?.invalid && password?.touched">
      <app-validation-error *ngIf="password?.errors?.['required']">
        {{ 'password.validation.required' | translate }}
      </app-validation-error>
    </div>
  </div>

  <div class="flex flex-col">
    <p-button styleClass="button-wide" type="submit" [loading]="isLoading">{{
      'login.loginButton' | translate
    }}</p-button>
    <div class="mt-1" *ngIf="apiError">
      <app-validation-error>{{ apiError }}</app-validation-error>
    </div>
  </div>

  <div class="bg-gray-900 w-1/2 mx-auto h-[2px]"></div>
  <p class="mx-auto text-text-secondary font-medium">
    {{ 'login.noAccount.question' | translate }}
    <app-link routerLink="/auth/register">{{ 'login.noAccount.action' | translate }}</app-link>
  </p>
</form>
