<div class="flex justify-between items-center">
  <div class="flex items-end gap-x-2">
    <p class="text-4xl text-primary-500 font-semibold">
      {{ Math.round(cpm / 5) }}
    </p>
    <p class="text-text-secondary font-bold font-mono tracking-wide pb-px">
      {{ 'speedTest.stats.wpm' | translate | uppercase }}
    </p>
  </div>

  <div class="flex items-end gap-x-2">
    <p class="text-4xl text-primary-500 font-semibold">
      {{ cpm }}
    </p>
    <p class="text-text-secondary font-bold font-mono tracking-wide pb-px">
      {{ 'speedTest.stats.cpm' | translate | uppercase }}
    </p>
  </div>

  <div class="flex items-end gap-x-2">
    <p class="text-4xl text-primary-500 font-semibold">{{ accuracy }}%</p>
    <p class="text-text-secondary font-bold font-mono tracking-wide pb-px">
      {{ 'speedTest.stats.accuracy' | translate | uppercase }}
    </p>
  </div>

  <div class="flex items-end gap-x-2">
    <p class="text-4xl text-primary-500 font-semibold">{{ time }}s</p>
    <p class="text-text-secondary font-bold font-mono tracking-wide pb-px">
      {{ 'speedTest.stats.time' | translate | uppercase }}
    </p>
  </div>
</div>
