<form
  class="w-auth-form mx-auto mt-28 flex flex-col gap-y-8"
  [formGroup]="resetPasswordForm"
  (ngSubmit)="onSubmit()"
>
  <p-messages *ngIf="isSuccess" severity="success" styleClass="-mb-4">
    <ng-template pTemplate>
      <p class="font-medium">{{ 'resetPassword.success' | translate }}</p>
    </ng-template>
  </p-messages>

  <header>
    <h1 class="text-2xl font-semibold">{{ 'resetPassword.heading' | translate }}</h1>
    <p class="mt-1 text-text-secondary">{{ 'resetPassword.subheading' | translate }}</p>
  </header>

  <div class="input-box">
    <label [htmlFor]="'newPassword'">{{ 'password.newPasswordLabel' | translate }}</label>
    <p-password
      formControlName="newPassword"
      inputId="newPassword"
      [toggleMask]="true"
      [feedback]="true"
      styleClass="w-full"
      inputStyleClass="w-full"
    ></p-password>
    <div *ngIf="newPassword?.invalid && newPassword?.touched">
      <app-validation-error *ngIf="newPassword?.errors?.['required']">
        {{ 'password.validation.required' | translate }}
      </app-validation-error>
      <app-validation-error *ngIf="newPassword?.errors?.['minLength']">
        {{ 'password.validation.minLength' | translate }}
      </app-validation-error>
      <app-validation-error *ngIf="newPassword?.errors?.['maxLength']">
        {{ 'password.validation.maxLength' | translate }}
      </app-validation-error>
      <app-validation-error
        *ngIf="newPassword?.errors?.['whitespace'] && !newPassword?.errors?.['required']"
      >
        {{ 'password.validation.blank' | translate }}
      </app-validation-error>
    </div>
  </div>

  <div class="flex flex-col -mt-4">
    <p-button styleClass="button-wide" type="submit" [loading]="isLoading">{{
      'resetPassword.changePasswordButton' | translate
    }}</p-button>
    <div class="mt-1" *ngIf="apiError">
      <app-validation-error>{{ apiError }}</app-validation-error>
    </div>
  </div>
</form>
