<section *ngIf="stats">
  <header>
    <h2 class="font-medium">Statistics</h2>
  </header>

  <div class="font-medium mt-2">
    <p>{{ time }} <span class="text-text-secondary">seconds</span></p>
    <p>{{ stats.cpm / 5 }} <span class="text-text-secondary">wpm</span></p>
    <p>{{ stats.accuracy }}% <span class="text-text-secondary">accuracy</span></p>
  </div>

  <p-messages severity="info">
    <ng-template pTemplate>
      <p class="font-medium text-sm">
        You can use <strong class="text-primary-500">ctrl + backspace</strong> to erase entire word.
      </p>
    </ng-template>
  </p-messages>
</section>
