<app-user-settings-section
  heading="{{ 'user.settings.account.heading' | translate }}"
  subheading="{{ 'user.settings.account.subheading' | translate }}"
>
  <form
    action=""
    class="flex flex-col gap-y-6"
    (ngSubmit)="onSubmit()"
    [formGroup]="accountSettingsForm"
  >
    <!--    <div class="flex items-center gap-x-6">-->
    <!--      <p-avatar [label]="firstUsernameLetter" size="xlarge" styleClass="w-16 h-16"></p-avatar>-->
    <!--      <p-button styleClass="p-button-secondary p-button-sm">{{-->
    <!--        'user.settings.account.changeAvatar' | translate-->
    <!--      }}</p-button>-->
    <!--    </div>-->
    <div class="input-box">
      <label for="username">{{ 'username.label' | translate }}</label>
      <input
        type="text"
        pInputText
        class="w-full"
        name="username"
        id="username"
        formControlName="username"
      />
      <div *ngIf="username?.invalid && username?.touched">
        <app-validation-error *ngIf="username?.errors?.['required']">
          {{ 'username.validation.required' | translate }}
        </app-validation-error>
        <app-validation-error *ngIf="username?.errors?.['minlength']">
          {{ 'username.validation.minLength' | translate }}
        </app-validation-error>
        <app-validation-error *ngIf="username?.errors?.['maxlength']">
          {{ 'username.validation.maxLength' | translate }}
        </app-validation-error>
        <app-validation-error
          *ngIf="username?.errors?.['whitespace'] && !username?.errors?.['required']"
        >
          {{ 'username.validation.blank' | translate }}
        </app-validation-error>
      </div>
    </div>
    <div>
      <p-button
        styleClass="p-button-sm"
        type="ngSubmit"
        [loading]="isLoading"
        label="{{ 'user.settings.account.save' | translate }}"
      ></p-button>
      <div class="mt-1" *ngIf="apiError">
        <app-validation-error>{{ apiError }}</app-validation-error>
      </div>
    </div>
  </form>
</app-user-settings-section>
