<section class="mt-from-header">
  <header>
    <h1 class="text-xl font-semibold">Choose a mode</h1>
  </header>

  <section class="modes-wrapper mt-from-page-heading" *ngIf="availableSpeedTestModes === null">
    <p-skeleton size="100%"></p-skeleton>
    <p-skeleton size="100%"></p-skeleton>
    <p-skeleton size="100%"></p-skeleton>
    <p-skeleton size="100%"></p-skeleton>
    <p-skeleton size="100%"></p-skeleton>
    <p-skeleton size="100%" class="w-full h-full aspect-square"></p-skeleton>
  </section>

  <section class="modes-wrapper mt-from-page-heading" *ngIf="availableSpeedTestModes">
    <a
      routerLink="/speed-test/{{ mode }}"
      *ngFor="let mode of availableSpeedTestModes"
      class="border-2 border-gray-900 rounded-md shadow-md flex items-center justify-center aspect-square cursor-pointer hover:border-primary-500 transition transform hover:scale-[1.02] text-lg font-medium"
    >
      {{ speedTestModeToLabel[mode] }}
    </a>
  </section>

  <section class="mt-section text-center text-text-secondary">
    <p>Missing a mode? <app-link routerLink="/">Make a suggestion</app-link></p>
  </section>
</section>
