<div class="flex flex-col gap-2">
  <div *ngFor="let row of KEYBOARD.rows" class="flex gap-2">
    <div
      *ngFor="let key of row.keys"
      class="flex items-center justify-center border-2 border-gray-900 rounded-lg font-medium text-sm relative group {{
        !key.width && 'aspect-square'
      }} {{ key.code === 17 && 'aspect-[3/2]' }}"
      [style]="{
        borderColor: key.disabled ? 'rgba(15, 23, 42, 0.2)' : generateColor(key.code),
        width: key.width ? key.width + '%' : DEFAULT_KEY_WIDTH + '%'
      }"
    >
      <div
        *ngIf="histogram"
        class="w-48 absolute left-1/2 -top-12 transform transition -translate-x-1/2 bg-light border-gray-900 p-2 pointer-events-none rounded-md border-2 opacity-0 group-hover:opacity-100 z-10"
      >
        <p *ngIf="histogramMap[key.code]">
          {{ 'speedTest.results.keyboard.typos' | translate }}:
          {{ histogramMap[key.code].missCount }} ({{
            (histogramMap[key.code].missCount / histogramMap[key.code].hitCount) * 100
              | number: '1.0-0'
          }}%)
        </p>
        <p *ngIf="!histogramMap[key.code]">
          {{ 'speedTest.results.keyboard.noTypos' | translate }}
        </p>
      </div>
      {{ key.label }}
    </div>
  </div>
</div>
