<app-user-settings-section
  heading="Password"
  subheading="Update your password to keep your account safe"
>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-y-6">
    <div class="flex gap-x-6">
      <div class="input-box flex-1">
        <label [htmlFor]="'oldPassword'">Old password</label>
        <p-password
          formControlName="oldPassword"
          inputId="oldPassword"
          [toggleMask]="true"
          [feedback]="false"
          styleClass="w-full"
          inputStyleClass="w-full"
        ></p-password>
        <div *ngIf="oldPassword?.invalid && oldPassword?.touched">
          <app-validation-error *ngIf="newPassword?.errors?.['required']">
            Password is required
          </app-validation-error>
        </div>
      </div>
      <div class="input-box flex-1">
        <label [htmlFor]="'newPassword'">New password</label>
        <p-password
          formControlName="newPassword"
          inputId="newPassword"
          [toggleMask]="true"
          [feedback]="true"
          styleClass="w-full"
          inputStyleClass="w-full"
        ></p-password>
        <div *ngIf="newPassword?.invalid && newPassword?.touched">
          <app-validation-error *ngIf="newPassword?.errors?.['required']">
            Password is required
          </app-validation-error>
          <app-validation-error *ngIf="newPassword?.errors?.['minlength']">
            Password has to be at least 8 characters long
          </app-validation-error>
          <app-validation-error *ngIf="newPassword?.errors?.['maxlength']">
            Password has to be at most 256 characters long
          </app-validation-error>
          <app-validation-error
            *ngIf="newPassword?.errors?.['whitespace'] && !newPassword?.errors?.['required']"
          >
            Password cannot consist only of empty characters
          </app-validation-error>
        </div>
      </div>
    </div>
    <div>
      <p-button
        styleClass="p-button-sm"
        type="ngSubmit"
        [loading]="isLoading"
        label="Change password"
      ></p-button>
      <div class="mt-1" *ngIf="apiError">
        <app-validation-error>{{ apiError }}</app-validation-error>
      </div>
    </div>
  </form>
</app-user-settings-section>
