<app-user-settings-section
  heading="{{ 'user.settings.password.heading' | translate }}"
  subheading="{{ 'user.settings.password.subheading' | translate }}"
>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-y-6">
    <div class="flex gap-x-6">
      <div class="input-box flex-1">
        <label [htmlFor]="'oldPassword'">{{ 'password.oldPasswordLabel' | translate }}</label>
        <p-password
          formControlName="oldPassword"
          inputId="oldPassword"
          [toggleMask]="true"
          [feedback]="false"
          styleClass="w-full"
          inputStyleClass="w-full"
        ></p-password>
        <div *ngIf="oldPassword?.invalid && oldPassword?.touched">
          <app-validation-error *ngIf="newPassword?.errors?.['required']">
            {{ 'password.validation.required' | translate }}
          </app-validation-error>
        </div>
      </div>
      <div class="input-box flex-1">
        <label [htmlFor]="'newPassword'">{{ 'password.newPasswordLabel' | translate }}</label>
        <p-password
          formControlName="newPassword"
          inputId="newPassword"
          [toggleMask]="true"
          [feedback]="true"
          styleClass="w-full"
          inputStyleClass="w-full"
          promptLabel="{{ 'password.feedback.prompt' | translate }}"
          weakLabel="{{ 'password.feedback.weak' | translate }}"
          mediumLabel="{{ 'password.feedback.medium' | translate }}"
          strongLabel="{{ 'password.feedback.strong' | translate }}"
        ></p-password>
        <div *ngIf="newPassword?.invalid && newPassword?.touched">
          <app-validation-error *ngIf="newPassword?.errors?.['required']">
            {{ 'password.validation.required' | translate }}
          </app-validation-error>
          <app-validation-error *ngIf="newPassword?.errors?.['minlength']">
            {{ 'password.validation.minLength' | translate }}
          </app-validation-error>
          <app-validation-error *ngIf="newPassword?.errors?.['maxlength']">
            {{ 'password.validation.maxLength' | translate }}
          </app-validation-error>
          <app-validation-error
            *ngIf="newPassword?.errors?.['whitespace'] && !newPassword?.errors?.['required']"
          >
            {{ 'password.validation.blank' | translate }}
          </app-validation-error>
        </div>
      </div>
    </div>
    <div>
      <p-button
        styleClass="p-button-sm"
        type="ngSubmit"
        [loading]="isLoading"
        label="{{ 'user.settings.password.changeButton' | translate }}"
      ></p-button>
      <div class="mt-1" *ngIf="apiError">
        <app-validation-error>{{ apiError }}</app-validation-error>
      </div>
    </div>
  </form>
</app-user-settings-section>
