<form
  class="w-auth-form mx-auto mt-28 flex flex-col gap-y-8"
  [formGroup]="requestPasswordResetForm"
  (ngSubmit)="onSubmit()"
>
  <p-messages *ngIf="isSuccess" severity="success" styleClass="-mb-4">
    <ng-template pTemplate>
      <p class="font-medium">Email link with instruction to reset your password has been sent</p>
    </ng-template>
  </p-messages>

  <header>
    <h1 class="text-2xl font-semibold">Forgot password</h1>
    <p class="mt-1 text-text-secondary">
      Enter your email address to which we will send a password reset link
    </p>
  </header>

  <div class="input-box">
    <label for="email">Email</label>
    <input type="email" pInputText class="w-full" name="email" id="email" formControlName="email" />
    <div *ngIf="email?.invalid && email?.touched">
      <app-validation-error *ngIf="email?.errors?.['required']">
        Email is required
      </app-validation-error>
      <app-validation-error *ngIf="email?.errors?.['email']">Invalid email</app-validation-error>
    </div>
  </div>

  <div class="flex flex-col -mt-4">
    <p-button styleClass="button-wide" type="submit" [loading]="isLoading"
      >Send reset email</p-button
    >
    <div class="mt-1" *ngIf="apiError">
      <app-validation-error>{{ apiError }}</app-validation-error>
    </div>
  </div>
</form>
