<form
  class="w-auth-form mx-auto mt-28 flex flex-col gap-y-8"
  [formGroup]="requestPasswordResetForm"
  (ngSubmit)="onSubmit()"
>
  <p-messages *ngIf="isSuccess" severity="success" styleClass="-mb-4">
    <ng-template pTemplate>
      <p class="font-medium">{{ 'forgotPassword.emailSent' | translate }}</p>
    </ng-template>
  </p-messages>

  <header>
    <h1 class="text-2xl font-semibold">{{ 'forgotPassword.label' | translate }}</h1>
    <p class="mt-1 text-text-secondary">
      {{ 'forgotPassword.subheading' | translate }}
    </p>
  </header>

  <div class="input-box">
    <label for="email">{{ 'email.label' | translate }}</label>
    <input type="email" pInputText class="w-full" name="email" id="email" formControlName="email" />
    <div *ngIf="email?.invalid && email?.touched">
      <app-validation-error *ngIf="email?.errors?.['required']">
        {{ 'email.validation.required' | translate }}
      </app-validation-error>
      <app-validation-error *ngIf="email?.errors?.['email']">{{
        'email.validation.invalid' | translate
      }}</app-validation-error>
    </div>
  </div>

  <div class="flex flex-col -mt-4">
    <p-button styleClass="button-wide" type="submit" [loading]="isLoading">{{
      'forgotPassword.sentEmailButton' | translate
    }}</p-button>
    <div class="mt-1" *ngIf="apiError">
      <app-validation-error>{{ apiError }}</app-validation-error>
    </div>
  </div>
</form>
